@color: #f06423;
html, body{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.name{
    background: @color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    margin: 30px auto;
    font-size: 36px;
}
.img{
    width: 600px;
    height: 200px;
    margin: 10px auto;
}
.img1{
    background: url(./asset/coin1.png) no-repeat center;
    background-size: contain;
}
.img2{
    background: url(./asset/chengji.png) no-repeat center;
    background-size: contain;
}
.img3{
    background: url(./asset/chenggong.png) no-repeat center;
    background-size: contain;
}